<div class="component_big_card">
  <div class="big_card_photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkPe9pNfrShEJZd-9vbLg3pzW7wQuea_pLxg&usqp=CAU" alt="" height="200px" width="400" >
  </div>
  <div class="big_card_title">
    <h1><a href="#"> Nova versão do Angular disponivel</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum excepturi natus voluptatum dolor, ab fugit explicabo asperiores culpa libero non adipisci, atque eaque temporibus saepe? Quasi ex nemo veritatis ab?
    </a>
    </p>
  </div>
</div>
