<header class="container_header">
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
  <div class="articles_main">
    <app-big-card photoCover = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkPe9pNfrShEJZd-9vbLg3pzW7wQuea_pLxg&usqp=CAU"
    cardTitle="Novo Filme do Homem de Ferro" cardDescription="Novo filme do homem de ferro ja é um grande sucesso nos cinemas"
    ></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card smallCardPhoto = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTi-l_mowzkoFwpvj7_vTdhsHp0ZuLd6LnpQ&usqp=CAU" smallCardTitle = "Novo Filme dos Avengers é lançado hoje"></app-small-card>
    <app-small-card smallCardPhoto = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTi-l_mowzkoFwpvj7_vTdhsHp0ZuLd6LnpQ&usqp=CAU" smallCardTitle = "Novo Filme dos Avengers é lançado hoje"></app-small-card>
    <app-small-card smallCardPhoto="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTi-l_mowzkoFwpvj7_vTdhsHp0ZuLd6LnpQ&usqp=CAU" smallCardTitle = "Novo Filme dos Avengers é lançado hoje"></app-small-card>
  </div>
</div>
